{ config, pkgs, ... }:

{
  home.stateVersion = "23.11";

  nixpkgs.config.allowUnfree = true;

  home.language = {
    base = "zh_CN.UTF-8";
  };

  home.packages = with pkgs; [
    wget
    unzip
    kubectl
    chafa
    talosctl
    kubernetes-helm
    _1password-cli
    devbox
    pack
    httpie
    pandoc
    fx
    yq
    dust
    curlie
    gping
    gitlab-ci-local
    sshpass

    tldr
    cht-sh
    navi

    deno
    nodejs_22
    pnpm
    cargo
    rustc
    uv
    php

    delta
    cz-cli
    mariadb.client
  ];

  home.sessionVariables = {
    GEMINI_API_KEY = "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/a7wn3g62u3hawi7r5em5xz2tzm/credential" }}";
    OCO_API_KEY = "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/a7wn3g62u3hawi7r5em5xz2tzm/credential" }}";
  };

  home.shellAliases = {
    posting = "uvx posting";
    specify = "uvx --from git+https://github.com/github/spec-kit.git specify";
  };

  programs = {
    home-manager.enable = true;
    java = {
      enable = true;
    };
    gradle = {
      enable = true;
    };
    go.enable = true;

    fish = {
      enable = true;
      interactiveShellInit = ''
        if set -q NVIM
          fish_default_key_bindings
          set -g fish_key_bindings fish_default_key_bindings
        else
          fish_vi_key_bindings
          set -g fish_key_bindings fish_vi_key_bindings
        end
        set -e -U fish_key_bindings
        set fish_greeting
      '';
    };
    nushell = {
      enable = true;
    };
    starship = {
      enable = true;
    };
    zellij = {
      enable = true;
    };
    zoxide = {
      enable = true;
      enableFishIntegration = true;
    };
    eza = {
      enable = true;
    };
    yazi = {
      enable = true;
      enableFishIntegration = true;
    };
    bottom = {
      enable = true;
    };
    jq = {
      enable = true;
    };
    bat.enable = true;
    k9s.enable = true;
    lazygit.enable = true;
    lazydocker.enable = true;
    gh.enable = true;
    gh-dash.enable = true;

    git = {
      enable = true;
      settings = {
        user = {
          name = "liqihao";
          email = "liqiha0@outlook.com";
        };
        core = {
          autocrlf = "input";
        };
      };
    };
    delta.enable = true;
    jujutsu = {
      enable = true;
      settings = {
        user = {
          name = "liqihao";
          email = "liqiha0@outlook.com";
        };
      };
    };

    neovim = {
      enable = true;
      defaultEditor = true;
      extraLuaPackages = ps: [ ps.magick ];
      extraPackages = [
        pkgs.ueberzugpp
        pkgs.imagemagick
      ];
    };
    fzf.enable = true;
    fd.enable = true;
    ripgrep.enable = true;
    neovide = {
      enable = true;
      settings = {
        fork = true;
        frame = "transparent";
        font = {
          normal = [ "JetBrainsMono Nerd Font" ];
          size = 14.0;
        };
      };
    };

    helix = {
      enable = true;
    };
  };
}
