{ config, pkgs, ... }:

{
  home.stateVersion = "23.11"; # Please read the comment before changing.

  nixpkgs.config.allowUnfree = true;

  home.language = {
    base = "zh_CN.UTF-8";
  };
  home.packages = with pkgs; [
    wget
    unzip
    kubectl
    chafa
    talosctl
    kubernetes-helm
    _1password-cli
    devbox
    pack
    # aider-chat
    shell-gpt
    tldr
    httpie
    pandoc
    fx
    dust
    curlie
    gping
    cht-sh

    deno
    nodejs_22
    gcc14
    cargo
    rustc
    uv

    nsz
    delta
    navi
    cz-cli
    mariadb-client
  ];

  # Home Manager is pretty good at managing dotfiles. The primary way to manage
  # plain files is through 'home.file'.
  home.file = {
    # # Building this configuration will create a copy of 'dotfiles/screenrc' in
    # # the Nix store. Activating the configuration will then make '~/.screenrc' a
    # # symlink to the Nix store copy.
    # ".screenrc".source = dotfiles/screenrc;

    # # You can also set the file content immediately.
    # ".gradle/gradle.properties".text = ''
    #   org.gradle.console=verbose
    #   org.gradle.daemon.idletimeout=3600000
    # '';
  };

  # Home Manager can also manage your environment variables through
  # 'home.sessionVariables'. These will be explicitly sourced when using a
  # shell provided by Home Manager. If you don't want to manage your shell
  # through Home Manager then you have to manually source 'hm-session-vars.sh'
  # located at either
  #
  #  ~/.nix-profile/etc/profile.d/hm-session-vars.sh
  #
  # or
  #
  #  ~/.local/state/nix/profiles/profile/etc/profile.d/hm-session-vars.sh
  #
  # or
  #
  #  /etc/profiles/per-user/liqihao/etc/profile.d/hm-session-vars.sh
  #
  home.sessionVariables = {
    GEMINI_API_KEY = "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/a7wn3g62u3hawi7r5em5xz2tzm/credential" }}";
    AI_STUDIO_PROXY_API_KEY = "123456";
    GOOGLE_CLOUD_PROJECT="gen-lang-client-0718256311";
  };
  home.sessionPath = [
    "$HOME/.deno/bin"
  ];

  # Let Home Manager install and manage itself.
  programs = {
    java = {
      enable = true;
      package = pkgs.jdk21;
    };
    gradle = {
      enable = true;
    };
    fish = {
      enable = true;
      interactiveShellInit = ''
        fish_vi_key_bindings
      '';
    };
    starship = {
      enable = true;
    };
    neovim = {
      enable = true;
      defaultEditor = true;
    };
    fd.enable = true;
    ripgrep.enable = true;
    fzf.enable = true;
    git = {
      enable = true;
      userName = "liqihao";
      userEmail = "liqiha0@outlook.com";
      extraConfig = {
        safe.directory = "*";
      };
      delta = {
        enable = true;
      };
    };
    lazygit.enable = true;
    lazydocker.enable = true;
    yazi = {
      enable = true;
      enableFishIntegration = true;
    };
    bat.enable = true;
    zoxide = {
      enable = true;
      enableFishIntegration = true;
    };
    k9s.enable = true;
    zellij = {
      enable = true;
    };
    eza = {
      enable = true;
    };
    bottom = {
      enable = true;
    };
    jq = {
      enable = true;
    };
  };
}
