{
  "$schema": "https://opencode.ai/config.json",
  "small_model": "openai/gpt-6-luna",
  "server": {
    "mdns": true
  },
  "permission": {
    "external_directory": {
      "~/Documents/Obsidian Vault/**": "allow",
      "/tmp/**": "allow"
    }
  },
  "provider": {
    "anthropic": {
      "options": {
        "baseURL": "https://ai.liqiha0.i234.me:8443/v1",
        "apiKey": "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/gyeqkp5wyourmatxkk6hde2o6u/credential" }}"
      }
    },
    "google": {
      "options": {
        "baseURL": "https://ai.liqiha0.i234.me:8443/v1beta",
        "apiKey": "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/gyeqkp5wyourmatxkk6hde2o6u/credential" }}"
      },
    },
    "deepseek": {
      "options": {
        "baseURL": "https://ai.liqiha0.i234.me:8443/v1",
        "apiKey": "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/gyeqkp5wyourmatxkk6hde2o6u/credential" }}"
      },
    },
    "zai": {
      "options": {
        "baseURL": "https://ai.liqiha0.i234.me:8443/v1",
        "apiKey": "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/gyeqkp5wyourmatxkk6hde2o6u/credential" }}"
      },
    },
    "moonshotai": {
      "options": {
        "baseURL": "https://ai.liqiha0.i234.me:8443/v1",
        "apiKey": "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/gyeqkp5wyourmatxkk6hde2o6u/credential" }}"
      },
    },
    "minimax": {
      "options": {
        "baseURL": "https://ai.liqiha0.i234.me:8443/v1",
        "apiKey": "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/gyeqkp5wyourmatxkk6hde2o6u/credential" }}"
      },
    }
  }
}
