{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "editorMode": "vim",
  "model": "kimi-k2.6",
  "env": {
    "ANTHROPIC_BASE_URL": "http://localhost:8317/",
    "ANTHROPIC_AUTH_TOKEN": "{{ onepasswordRead "op://w7pdf7kq2qdntrhsfunxeozuxa/gyeqkp5wyourmatxkk6hde2o6u/credential" }}"
  }
}
